*.yaml linguist-detectable=true linguist-language=YAML
*.tf linguist-detectable=true linguist-language=HCL
*.tf.tftpl linguist-detectable=true linguist-language=HCL
*.yaml.tftpl linguist-detectable=true linguist-language=YAML