apiVersion: v1
kind: Secret
metadata:
  name: oci-cloud-controller-manager
  namespace: kube-system
stringData:
  cloud-provider.yaml: |
    useInstancePrincipals: true
    compartment: ${compartment_ocid}
    vcn: ${vcn_id}
    loadBalancer:
      subnet1: ${subnet_id}
      securityListManagementMode: None
type: Opaque

