auth:
  region: ${region}
  tenancy: ${tenancy_ocid}
  user: ${user_ocid}
  fingerprint: ${fingerprint}
  key: |
    ${indent(4, private_key)}
compartment: ${compartment_ocid}
vcn: ${vcn_ocid}
loadBalancer:
  subnet: ${subnet_ocid}
